<!-- <div class="bmd-component example-box">
  <ul class="nav nav-pills bmd-nav-pills-primary">
    <li  ng-class="{active: ('noticias.add' | routeSegmentStartsWith)}">
      <a href="#/Noticias/add" class="bmd-ripple">Publicar</a>
    </li>
    <li ng-class="{active: ('noticias.preview' | routeSegmentStartsWith)}">
      <a href="#/Noticias/preview">Vista Previa</a>
    </li>
    <li ng-class="{active: ('noticias.update' | routeSegmentStartsWith)}">
      <a href="#/Noticias/update">Modificar/Eliminar</a>
    </li>
    <li ng-class="{active: ('noticias.edit' | routeSegmentStartsWith)}">
      <a href="#/Noticias/edit">Otro</a>
    </li>
  </ul>
  <br>

</div> -->
<div app-view-segment="1">
</div>

<div class="bmd-fab-speed-dial-container" style="z-index:1;position:fixed;bottom:95px;right:20px">
    <a href="#" class="bmd-fab-speed-dialer spin btn btn-success bmd-ripple bmd-fab bmd-floating ">
        <span class="bmd-icon in flaticon-add186"></span>
        <span class="bmd-icon out flaticon-close47"></span>
    </a>
    <ul class="bmd-fab-speed-dial-list up">

        <li><a href="#/Galeria/add" class="btn btn-primary bmd-ripple bmd-fab bmd-floating"><span class="bmd-icon material-icons">add_box</span></a></li>
        <li><a href="#/Galeria/update" class="btn btn-primary bmd-ripple bmd-fab bmd-floating"><span class="bmd-icon material-icons">edit</span></a></li>
        <li><a href="#/Galeria/edit" class="btn btn-primary bmd-ripple bmd-fab bmd-floating"><span class="bmd-icon material-icons">radio_button_unchecked</span></a></li>
    </ul>

</div>