
<form name="frmadd" class="form-horizontal animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
        <h3>Formulario Noticias, nuevo</h3>
            <div class="form-group" ng-class="{ 'has-error' : frmadd.cmbcategoria.$invalid && frmadd.cmbcategoria.$touched }">
                <label for="categoria" class="col-lg-2 control-label "><i class="material-icons bmd-text-primary flaticon-list88"></i></label>
                <div class="col-lg-9">
                    <div class="bmd-field-group">
                        <select ng-model="data.categoria" name="cmbcategoria" class="form-control" ng-required="true">
                            <option>Deportes</option>
                            <option>Farandula</option>
                            <option>Noticia</option>
                            <option>Curiosidades</option>
                            <option value="">Seleccione categoría</option>
                        </select>
                        <span class="bmd-bar"></span>
                        <span ng-show="frmadd.cmbcategoria.$dirty && frmadd.cmbcategoria.$invalid"><span class="label label-danger">Seleccione la categoría</span></span>
                    </div>
                </div>
            </div>
            <div class="form-group has-primary" ng-class="{ 'has-error' : frmadd.titulo.$invalid && frmadd.titulo.$touched }">
                <label for="textarea" class="col-lg-2 control-label "><i class="material-icons bmd-text-primary flaticon-automatic2"></i></label>
                <div class="col-lg-9">
                    <div class="bmd-field-group">
                        <input type="text" required="" id="reerencia" name="titulo" ng-model="data.titulo" class="bmd-input">
                        <span class="bmd-bar"></span>
                        <label class="bmd-label">Tìtulo</label>
                        <span for="correo" ng-show="frmadd.titulo.$invalid && frmadd.titulo.$touched">
                        <span class="label label-danger">Campo Obligatorio</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <label for="textarea" class="col-lg-2 control-label "><i class="material-icons bmd-text-primary flaticon-add183"></i></label>
                <div class="col-lg-9">
                    <div class="bmd-field-group">
                        <ng-wig ng-model="data.contenido" ng-class="{ 'has-error' : frmadd.contenido.$invalid && frmadd.contenido.$touched }"></ng-wig>
                        <span class="bmd-bar"></span>
                        <span class="bmd-field-feedback"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group has-primary" ng-class="{ 'has-error' : frmadd.video.$invalid && frmadd.video.$touched }">
                <label for="inputvideo" class="col-lg-2 control-label bmd-control-label"><i class="material-icons bmd-text-primary">account_box</i></label>
                <div class="col-lg-9">
                    <div class="bmd-field-group">
                        <input class="bmd-input" id="video" name="video" ng-model="data.video" ng-required="true">
                        <span class="bmd-bar"></span>
                        <label class="bmd-label">URL</label>
                        <span class="bmd-field-feedback"></span>
                    </div>
                    <span for="video" ng-show="frmadd.video.$invalid && frmadd.video.$touched">
                        <span class="label label-danger">Campo Obligatorio</span>
                    </span>
                </div>
            </div>
            <div class="form-group has-primary" ng-class="{ 'has-error' : frmadd.referencia.$invalid && frmadd.referencia.$touched }">
                <label for="textarea" class="col-lg-2 control-label "><i class="material-icons bmd-text-primary flaticon-add180"></i></label>
                <div class="col-lg-9">
                    <div class="bmd-field-group">
                        <input type="text" required="" id="reerencia" name="referencia" ng-model="data.referencia" class="bmd-input">
                        <span class="bmd-bar"></span>
                        <label class="bmd-label">Referencia</label>
                        <span for="correo" ng-show="frmadd.referencia.$invalid && frmadd.referencia.$touched">
                        <span class="label label-danger">Campo Obligatorio</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group has-primary">
                <label for="textarea" class="col-lg-2 control-label "><i class="material-icons bmd-text-primary flaticon-photo212"></i></label>
                <div class="col-lg-9">
                    <label class="label label-success">Logo</label>
                    <div class="bmd-field-group">
                        <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile" multiple>
                        <i ng-show="frmadd.file.$error.required" class="label label-danger">Campo Obligatorio</i>
                        <br>
                        <i ng-show="frmadd.file.$error.maxSize" class="label label-danger">Limite excedido 
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                        <!-- <img ng-show="frmadd.file.$valid" ngf-thumbnail="picFile" class="thumb" style="width: 142px;"> <a href="#" class="btn btn-danger bmd-ripple btn-xs" ng-click="picFile = null" ng-show="picFile" style="color:white;">X</a> -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-9">
                    <button type="button" class="btn btn-warning bmd-ripple bmd-fab bmd-fab-sm bmd-floating" data-toggle="modal" data-target="#modal-preview" ng-click="preview()"><span class="bmd-icon material-icons">remove_red_eye</span></button>
                    <button class="btn btn-primary bmd-ripple" ng-disabled="!frmadd.$valid" ng-click="uploadPic(picFile)">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-preview" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content bmd-border-primary">
            <div class="modal-header bmd-bg-primary">
                <button type="button" class="close btn-link bmd-flat-btn bmd-flat-btn-light" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title bmd-text-blue-100">Vista Previa</h4>
            </div>
            <div class="modal-body">
            <h1>{{data.titulo}}</h1>
            <img src="{{data.picFile}}" >
            <div class="player">
            <embed-video width=550 height=300 iframe-id="youtube1" enablejsapi="1" origin="http://erost.net"
                ng-href="{{data.video}}"><a href="//www.youtube.com/watch?v=wtLJPvx7-ys">Watch</a></embed-video>
            </div>
            <h4>{{data.contenido}}</h4>
            <h5>{{data.referencia}}</h5>
            </div>
            <div class="modal-footer bmd-border-blue-100">
                <button type="submit" class="btn btn-default bmd-ripple bmd-ink-grey-400" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
</form>
<!-- Modal -->
