<div class="col-lg-3"></div>
<div class=" text-center bmd-component example-box col-lg-5" >
	<h1>+ Noticia</h1>
<form class="form-horizontal" name="frmEmployees"> 
    <div class="form-group has-primary" ng-class="{ 'has-error' : formlogin.titulo.$invalid && formlogin.titulo.$touched }">
                        <label for="inputtituloword" class="col-lg-2 control-label bmd-control-label"><i class="material-icons bmd-text-primary">https</i></label>
                        <div class="col-lg-9">
                            <div class="bmd-field-group">
                                <input type="text" class="bmd-input" id="titulo" name="titulo" ng-model="titulo" ng-required="true">
                                <span class="bmd-bar"></span>
                                <label class="bmd-label">Título</label>
                                <span class="bmd-field-feedback"></span>
                            </div>
                            <span for="titulo" ng-show="formlogin.titulo.$invalid && formlogin.titulo.$touched">
<span class="label label-danger">Campo Obligatorio</span>
                            </span>
                        </div>
<label for="inputtituloword" class="col-lg-2 control-label bmd-control-label"><i class="material-icons bmd-text-primary">https</i></label>
                          <div class="col-lg-9">
                            <div class="bmd-field-group">
                                <textarea class="bmd-input" rows="4" cols="50" id="detalle" name="detalle" ng-model="detalle" ng-required="true"></textarea>
                                <span class="bmd-bar"></span>
                                <label class="bmd-label">Descripción</label>
                                <span class="bmd-field-feedback"></span>
                            </div>
                            <span for="detalle" ng-show="formlogin.detalle.$invalid && formlogin.detalle.$touched">
<span class="label label-danger">Campo Obligatorio</span>
                            </span>
                        </div>

                    </div>

</form>

 <!-- <form name="frmEmployees" class="form-horizontal" novalidate="">

                                <div class="form-group error">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Título</label>
                                    <div class="col-sm-9">
                                 
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Descripción</label>
                                    <div class="col-sm-9">
                                    <textarea rows="4" cols="50" class="form-control" id="email" name="email" placeholder="Descripción" value="{{email}}" 
                                        ng-model="employee.email" ng-required="true">
</textarea>
                                        <span class="help-inline" 
                                        ng-show="frmEmployees.email.$invalid && frmEmployees.email.$touched">Obligatorio</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">URL</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="contact_number" name="contact_number" placeholder="URL" value="{{contact_number}}" 
                                        ng-model="employee.contact_number" ng-required="true">
                                    <span class="help-inline" 
                                        ng-show="frmEmployees.contact_number.$invalid && frmEmployees.contact_number.$touched">Obligatorio</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Referencia</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="position" name="position" placeholder="Referencia" value="{{position}}" 
                                        ng-model="employee.position" ng-required="true">
                                    <span class="help-inline" 
                                        ng-show="frmEmployees.position.$invalid && frmEmployees.position.$touched">Obligatorio</span>
                                    </div>
                                </div>

<div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Imagen</label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control" id="img" name="img" placeholder="Imagen" accept="image/x-png, image/gif, image/jpeg"
                                        ng-model="employee.img" ng-required="true">
                                        <span data-ng-show="frmEmployees.img.$error.required && frmEmployees.img.$touched">The Photo is required field.</span>
                                  
                                </div>

                                <div class="form-group">
                                <div class="col-sm-10"></div>
                                    <div class="col-sm-2">
                                      <button type="button" class="btn btn-primary" id="btn-save" ng-click="save(modalstate, id)" ng-disabled="frmEmployees.$invalid">Guardar</button>
                                </div>
                            </form> -->


</div>


